*{
    box-sizing: border-box;
    font-family: 'Raleway' , 'Tilt Neon';
    background-color: rgba(17, 6, 17, 0.068);
}
html{
    background-color: rgba(17, 6, 17, 0.068);
    font-family: 'Raleway' , 'Tilt Neon';

}
